In [1]:
import requests 
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
web_url = 'https://cod-esports.fandom.com/wiki/Call_of_Duty_League/2024_Season'
response = requests.get(web_url)
response.status_code

200

In [ ]:
s_object = soup(response.content,'html.parser')
s_object

In [ ]:
pt_dist = s_object.find('table',class_='wikitable circuitpoints')
pt_dist

In [5]:
team_dist = pt_dist.find_all('td')
team_dist

[<td class="standings-up">Champs</td>,
 <td class="standings-stay">Eliminated</td>,
 <td class="standings-up">1</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Atlanta_FaZe" data-to-titles="Atlanta FaZe||Tooltip:Atlanta FaZe" href="/wiki/Atlanta_FaZe" title="Atlanta FaZe"><img alt="Atlanta FaZelogo std" data-image-key="Atlanta_FaZelogo_std.png" data-image-name="Atlanta FaZelogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/5/5b/Atlanta_FaZelogo_std.png/revision/latest/scale-to-width-down/48?cb=20191026200905" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Atlanta_FaZe" data-to-titles="Atlanta FaZe||Tooltip:Atlanta FaZe" href="/wiki/Atlanta_FaZe" title="Atlanta FaZe">ATL FaZe</a></span></td>,
 <td>70</td>,
 <td>75</td>,
 <td>50</td>,
 <td>100</td>,
 <td>70</td>,
 <td>60</td>,
 <td>60</td>,
 <td>75</td>,
 <td>560</td>,
 <td class="standings-up">2</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Toronto_Ultra" data-to-titles="Toronto Ultra||Tooltip:Toronto Ultra" href="/wiki/Toronto_Ultra" title="Toronto Ultra"><img alt="Toronto Ultralogo std" data-image-key="Toronto_Ultralogo_std.png" data-image-name="Toronto Ultralogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/5/52/Toronto_Ultralogo_std.png/revision/latest/scale-to-width-down/48?cb=20191026213309" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Toronto_Ultra" data-to-titles="Toronto Ultra||Tooltip:Toronto Ultra" href="/wiki/Toronto_Ultra" title="Toronto Ultra">TOR Ultra</a></span></td>,
 <td>60</td>,
 <td>100</td>,
 <td>50</td>,
 <td>45</td>,
 <td>60</td>,
 <td>75</td>,
 <td>60</td>,
 <td>45</td>,
 <td>495</td>,
 <td class="standings-up">3</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="OpTic_Texas" data-to-titles="OpTic Texas||Tooltip:OpTic Texas" href="/wiki/OpTic_Texas" title="OpTic Texas"><img alt="OpTic Texaslogo std" data-image-key="OpTic_Texaslogo_std.png" data-image-name="OpTic Texaslogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/2/2b/OpTic_Texaslogo_std.png/revision/latest/scale-to-width-down/48?cb=20211114210559" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="OpTic_Texas" data-to-titles="OpTic Texas||Tooltip:OpTic Texas" href="/wiki/OpTic_Texas" title="OpTic Texas">OpTic TEX</a></span></td>,
 <td>40</td>,
 <td>60</td>,
 <td>70</td>,
 <td>75</td>,
 <td>60</td>,
 <td>100</td>,
 <td>10</td>,
 <td>0</td>,
 <td>415</td>,
 <td class="standings-up">4</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="New_York_Subliners" data-to-titles="New York Subliners||Tooltip:New York Subliners" href="/wiki/New_York_Subliners" title="New York Subliners"><img alt="New York Sublinerslogo std" data-image-key="New_York_Sublinerslogo_std.png" data-image-name="New York Sublinerslogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/c/c4/New_York_Sublinerslogo_std.png/revision/latest/scale-to-width-down/48?cb=20240720162901" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="New_York_Subliners" data-to-titles="New York Subliners||Tooltip:New York Subliners" href="/wiki/New_York_Subliners" title="New York Subliners">NY Subliners</a></span></td>,
 <td>60</td>,
 <td>0</td>,
 <td>60</td>,
 <td>60</td>,
 <td>30</td>,
 <td>45</td>,
 <td>40</td>,
 <td>100</td>,
 <td>395</td>,
 <td class="standings-up">5</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Seattle_Surge" data-to-titles="Seattle Surge||Tooltip:Seattle Surge" href="/wiki/Seattle_Surge" title="Seattle Surge"><img alt="Seattle Surgelogo std" data-image-key="Seattle_Surgelogo_std.png" data-image-name="Seattle Surgelogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/f/fb/Seattle_Surgelogo_std.png/revision/latest/scale-to-width-down/48?cb=20191030232622" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Seattle_Surge" data-to-titles="Seattle Surge||Tooltip:Seattle Surge" href="/wiki/Seattle_Surge" title="Seattle Surge">SEA Surge</a></span></td>,
 <td>30</td>,
 <td>30</td>,
 <td>10</td>,
 <td>0</td>,
 <td>30</td>,
 <td>30</td>,
 <td>40</td>,
 <td>30</td>,
 <td>200</td>,
 <td class="standings-up">6</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Los_Angeles_Guerrillas" data-to-titles="Los Angeles Guerrillas||Tooltip:Los Angeles Guerrillas" href="/wiki/Los_Angeles_Guerrillas" title="Los Angeles Guerrillas"><img alt="Los Angeles Guerrillaslogo std" data-image-key="Los_Angeles_Guerrillaslogo_std.png" data-image-name="Los Angeles Guerrillaslogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/c/c2/Los_Angeles_Guerrillaslogo_std.png/revision/latest/scale-to-width-down/48?cb=20191019020848" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Los_Angeles_Guerrillas" data-to-titles="Los Angeles Guerrillas||Tooltip:Los Angeles Guerrillas" href="/wiki/Los_Angeles_Guerrillas" title="Los Angeles Guerrillas">LA Guerrillas</a></span></td>,
 <td>20</td>,
 <td>30</td>,
 <td>10</td>,
 <td>30</td>,
 <td>20</td>,
 <td>0</td>,
 <td>30</td>,
 <td>60</td>,
 <td>200</td>,
 <td class="standings-up">7</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Los_Angeles_Thieves" data-to-titles="Los Angeles Thieves||Tooltip:Los Angeles Thieves" href="/wiki/Los_Angeles_Thieves" title="Los Angeles Thieves"><img alt="Los Angeles Thieveslogo std" data-image-key="Los_Angeles_Thieveslogo_std.png" data-image-name="Los Angeles Thieveslogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/0/0e/Los_Angeles_Thieveslogo_std.png/revision/latest/scale-to-width-down/48?cb=20201106181825" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Los_Angeles_Thieves" data-to-titles="Los Angeles Thieves||Tooltip:Los Angeles Thieves" href="/wiki/Los_Angeles_Thieves" title="Los Angeles Thieves">LA Thieves</a></span></td>,
 <td>20</td>,
 <td>0</td>,
 <td>40</td>,
 <td>0</td>,
 <td>50</td>,
 <td>15</td>,
 <td>40</td>,
 <td>30</td>,
 <td>195</td>,
 <td class="standings-up">8</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Miami_Heretics" data-to-titles="Miami Heretics||Tooltip:Miami Heretics" href="/wiki/Miami_Heretics" title="Miami Heretics"><img alt="Miami Hereticslogo std" data-image-key="Miami_Hereticslogo_std.png" data-image-name="Miami Hereticslogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/a/a8/Miami_Hereticslogo_std.png/revision/latest/scale-to-width-down/48?cb=20230825011723" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Miami_Heretics" data-to-titles="Miami Heretics||Tooltip:Miami Heretics" href="/wiki/Miami_Heretics" title="Miami Heretics">MIA Heretics</a></span></td>,
 <td>50</td>,
 <td>0</td>,
 <td>20</td>,
 <td>0</td>,
 <td>30</td>,
 <td>30</td>,
 <td>40</td>,
 <td>15</td>,
 <td>185</td>,
 <td class="standings-stay">9</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Las_Vegas_Legion" data-to-titles="Las Vegas Legion||Tooltip:Las Vegas Legion" href="/wiki/Las_Vegas_Legion" title="Las Vegas Legion"><img alt="Las Vegas Legionlogo std" data-image-key="Las_Vegas_Legionlogo_std.png" data-image-name="Las Vegas Legionlogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/3/3b/Las_Vegas_Legionlogo_std.png/revision/latest/scale-to-width-down/48?cb=20220912202340" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Las_Vegas_Legion" data-to-titles="Las Vegas Legion||Tooltip:Las Vegas Legion" href="/wiki/Las_Vegas_Legion" title="Las Vegas Legion">LV Legion</a></span></td>,
 <td>10</td>,
 <td>15</td>,
 <td>50</td>,
 <td>15</td>,
 <td>20</td>,
 <td>0</td>,
 <td>40</td>,
 <td>15</td>,
 <td>165</td>,
 <td class="standings-stay">10</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Carolina_Royal_Ravens" data-to-titles="Carolina Royal Ravens||Tooltip:Carolina Royal Ravens" href="/wiki/Carolina_Royal_Ravens" title="Carolina Royal Ravens"><img alt="Carolina Royal Ravenslogo std" data-image-key="Carolina_Royal_Ravenslogo_std.png" data-image-name="Carolina Royal Ravenslogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/2/21/Carolina_Royal_Ravenslogo_std.png/revision/latest/scale-to-width-down/48?cb=20230905163954" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Carolina_Royal_Ravens" data-to-titles="Carolina Royal Ravens||Tooltip:Carolina Royal Ravens" href="/wiki/Carolina_Royal_Ravens" title="Carolina Royal Ravens">CAR Royal Ravens</a></span></td>,
 <td>10</td>,
 <td>15</td>,
 <td>20</td>,
 <td>30</td>,
 <td>30</td>,
 <td>15</td>,
 <td>30</td>,
 <td>0</td>,
 <td>150</td>,
 <td class="standings-stay">11</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Minnesota_R_c3-_98-KKR" data-to-titles="Minnesota RØKKR||Tooltip:Minnesota RØKKR" href="/wiki/Minnesota_R%C3%98KKR" title="Minnesota RØKKR"><img alt="Minnesota RØKKRlogo std" data-image-key="Minnesota_R%C3%98KKRlogo_std.png" data-image-name="Minnesota RØKKRlogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/7/7f/Minnesota_R%C3%98KKRlogo_std.png/revision/latest/scale-to-width-down/48?cb=20191029151844" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Minnesota_R_c3-_98-KKR" data-to-titles="Minnesota RØKKR||Tooltip:Minnesota RØKKR" href="/wiki/Minnesota_R%C3%98KKR" title="Minnesota RØKKR">MIN RØKKR</a></span></td>,
 <td>30</td>,
 <td>45</td>,
 <td>10</td>,
 <td>15</td>,
 <td>20</td>,
 <td>0</td>,
 <td>20</td>,
 <td>0</td>,
 <td>140</td>,
 <td class="standings-stay">12</td>,
 <td class="circuitpoints-team"><span class="team-object"><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Boston_Breach" data-to-titles="Boston Breach||Tooltip:Boston Breach" href="/wiki/Boston_Breach" title="Boston Breach"><img alt="Boston Breachlogo std" class="dark-logo-std" data-image-key="Boston_Breachlogo_std.png" data-image-name="Boston Breachlogo std.png" data-relevant="0" decoding="async" height="20" loading="lazy" src="https://static.wikia.nocookie.net/cod_esports_gamepedia_en/images/1/19/Boston_Breachlogo_std.png/revision/latest/scale-to-width-down/48?cb=20220114204224" width="48"/></a><a class="to_hasTooltip" data-to-flags="fiem" data-to-id="Boston_Breach" data-to-titles="Boston Breach||Tooltip:Boston Breach" href="/wiki/Boston_Breach" title="Boston Breach">BOS Breach</a></span></td>,
 <td>20</td>,
 <td>0</td>,
 <td>30</td>,
 <td>0</td>,
 <td>0</td>,
 <td>0</td>,
 <td>10</td>,
 <td>0</td>,
 <td>60</td>]

In [6]:
points_distribution = []

# Loop through the team_dist to collect all the numeric values
for point in team_dist:
    text = point.get_text(strip=True)
    if text.isdigit():  # Check if the text is a number
        points_distribution.append(int(text))

In [7]:
# Number of points per team (including the season place and total points)
num_columns = 10

# Reshape the list into a 2D array where each row is a team's data
reshaped_data = [points_distribution[i:i + num_columns] for i in range(0, len(points_distribution), num_columns)]

# Convert the reshaped data into a DataFrame
pointt_dist = pd.DataFrame(reshaped_data, columns=['Season Place', 'Online/Qualifiers 1', 'LAN/Major 1', 'Online/Qualifiers 2', 'LAN/Major 2', 'Online/Qualifiers 3', 'LAN/Major 3', 'Online/Qualifiers 4', 'LAN/Major 4', 'Total Points'])

Points distribution for season 2024

- need to understand which teams benefited from online play to lan
- then need to calcualte placing rom lan tourneys

In [8]:
# Add a "Team Name" column
pointt_dist.insert(0, 'Team Name', [f'Team {i+1}' for i in range(len(pointt_dist ))])
pointt_dist

,Team Name,Season Place,Online/Qualifiers 1,LAN/Major 1,Online/Qualifiers 2,LAN/Major 2,Online/Qualifiers 3,LAN/Major 3,Online/Qualifiers 4,LAN/Major 4,Total Points
0,Team 1,1,70,75,50,100,70,60,60,75,560
1,Team 2,2,60,100,50,45,60,75,60,45,495
2,Team 3,3,40,60,70,75,60,100,10,0,415
3,Team 4,4,60,0,60,60,30,45,40,100,395
4,Team 5,5,30,30,10,0,30,30,40,30,200
5,Team 6,6,20,30,10,30,20,0,30,60,200
6,Team 7,7,20,0,40,0,50,15,40,30,195
7,Team 8,8,50,0,20,0,30,30,40,15,185
8,Team 9,9,10,15,50,15,20,0,40,15,165
9,Team 10,10,10,15,20,30,30,15,30,0,150
10,Team 11,11,30,45,10,15,20,0,20,0,140
11,Team 12,12,20,0,30,0,0,0,10,0,60

In [9]:
# New team names
new_team_names = [
    'Atlanta FaZe','Toronto Ultra','OpTic Texas', 'New York Subliners',
    'Seattle Surge', 'Los Angeles Guerrillas','Los Angeles Thieves','Miami Heretics',
    'Las Vegas Legion','Carolina Royal Ravens',
    'Minnesota RØKKR','Boston Breach'
]
pointt_dist['Team Name'] = new_team_names
pointt_dist

,Team Name,Season Place,Online/Qualifiers 1,LAN/Major 1,Online/Qualifiers 2,LAN/Major 2,Online/Qualifiers 3,LAN/Major 3,Online/Qualifiers 4,LAN/Major 4,Total Points
0,Atlanta FaZe,1,70,75,50,100,70,60,60,75,560
1,Toronto Ultra,2,60,100,50,45,60,75,60,45,495
2,OpTic Texas,3,40,60,70,75,60,100,10,0,415
3,New York Subliners,4,60,0,60,60,30,45,40,100,395
4,Seattle Surge,5,30,30,10,0,30,30,40,30,200
5,Los Angeles Guerrillas,6,20,30,10,30,20,0,30,60,200
6,Los Angeles Thieves,7,20,0,40,0,50,15,40,30,195
7,Miami Heretics,8,50,0,20,0,30,30,40,15,185
8,Las Vegas Legion,9,10,15,50,15,20,0,40,15,165
9,Carolina Royal Ravens,10,10,15,20,30,30,15,30,0,150
10,Minnesota RØKKR,11,30,45,10,15,20,0,20,0,140
11,Boston Breach,12,20,0,30,0,0,0,10,0,60

Building on top of Points distribution

- Need to understand on what teams placing was in each of the majors
- this will help tell us what teams perforemed in tournamnets throughotu the season

In [11]:
placement_columns = ['LAN/Major 1','LAN/Major 2','LAN/Major 3','LAN/Major 4']

# Create new columns for each placement type
pointt_dist['Tournament Wins'] = (pointt_dist[placement_columns] == 100).sum(axis=1)
pointt_dist['2nd Place'] = (pointt_dist[placement_columns] == 75).sum(axis=1)
pointt_dist['3rd Place'] = (pointt_dist[placement_columns] == 60).sum(axis=1)
pointt_dist['4th Place'] = (pointt_dist[placement_columns] == 45).sum(axis=1)
pointt_dist['5th - 6th Place'] = (pointt_dist[placement_columns] == 30).sum(axis=1)
pointt_dist['7th - 8th Place'] = (pointt_dist[placement_columns] == 15).sum(axis=1)
pointt_dist['9th - 10th Place'] = (pointt_dist[placement_columns] == 0).sum(axis=1)
pointt_dist['11th - 12th Place'] = (pointt_dist[placement_columns] == 0).sum(axis=1)

pointt_dist

,Team Name,Season Place,Online/Qualifiers 1,LAN/Major 1,Online/Qualifiers 2,LAN/Major 2,Online/Qualifiers 3,LAN/Major 3,Online/Qualifiers 4,LAN/Major 4,Total Points,Tournament Wins,2nd Place,3rd Place,4th Place,5th - 6th Place,7th - 8th Place,9th - 10th Place,11th - 12th Place
0,Atlanta FaZe,1,70,75,50,100,70,60,60,75,560,1,2,1,0,0,0,0,0
1,Toronto Ultra,2,60,100,50,45,60,75,60,45,495,1,1,0,2,0,0,0,0
2,OpTic Texas,3,40,60,70,75,60,100,10,0,415,1,1,1,0,0,0,1,1
3,New York Subliners,4,60,0,60,60,30,45,40,100,395,1,0,1,1,0,0,1,1
4,Seattle Surge,5,30,30,10,0,30,30,40,30,200,0,0,0,0,3,0,1,1
5,Los Angeles Guerrillas,6,20,30,10,30,20,0,30,60,200,0,0,1,0,2,0,1,1
6,Los Angeles Thieves,7,20,0,40,0,50,15,40,30,195,0,0,0,0,1,1,2,2
7,Miami Heretics,8,50,0,20,0,30,30,40,15,185,0,0,0,0,1,1,2,2
8,Las Vegas Legion,9,10,15,50,15,20,0,40,15,165,0,0,0,0,0,3,1,1
9,Carolina Royal Ravens,10,10,15,20,30,30,15,30,0,150,0,0,0,0,1,2,1,1
10,Minnesota RØKKR,11,30,45,10,15,20,0,20,0,140,0,0,0,1,0,1,2,2
11,Boston Breach,12,20,0,30,0,0,0,10,0,60,0,0,0,0,0,0,4,4

Got inforamtion on points distribution

- now getting champs info
- need rosters
- placements
- earnings
- series counts , map counts

In [ ]:
#cod champs element and class acess 
web = 'https://cod-esports.fandom.com/wiki/Call_of_Duty_League_Championship_2024'
response = requests.get(web)
s_object = soup(response.content,'html.parser')
s_object

In [ ]:
#table that contains all of the champs teams 
#rosters 
#placements 
#prizes 
#rosters 

champs_bracket = s_object.find('table',class_='wikitable2 tournament-results zebra-manual')
champs_bracket

In [ ]:
# Find all rows in the table
rows = champs_bracket.find_all('tr')
rows

In [15]:
# Initialize lists to store the extracted data
placements = []
prizes = []
prize_percentages = []
team_names = []
rosters = []

# Loop through each row (skip the header row)
for row in rows[1:]:
    # Extract the placement
    placement_td = row.find('td', class_='tournament-results-place')
    if placement_td:
        placement = placement_td.text.strip()
    else:
        placement = 'N/A'  # Handle missing placement
    placements.append(placement)

    # Extract the prize
    prize_td = row.find('td', class_='tournament-results-prize')
    if prize_td:
        prize = prize_td.text.strip()
    else:
        prize = 'N/A'  # Handle missing prize
    prizes.append(prize)

    # Extract the prize percentage
    prize_percentage_td = row.find_all('td')[1]
    if prize_percentage_td:
        prize_percentage = prize_percentage_td.text.strip()
    else:
        prize_percentage = 'N/A'  # Handle missing prize percentage
    prize_percentages.append(prize_percentage)

    # Extract the team name
    team_name_span = row.find('span', class_='teamname')
    if team_name_span:
        team_name = team_name_span.text.strip()
    else:
        team_name = 'N/A'  # Handle missing team name
    team_names.append(team_name)

    # Extract the roster
    roster_td = row.find('td', class_='tournament-results-roster')
    if roster_td:
        roster = roster_td.text.strip().replace(' • ', ', ')
    else:
        roster = 'N/A'  # Handle missing roster
    rosters.append(roster)

In [16]:
data = {
    'Placement': placements,
    'Prize': prizes,
    'Prize (%)': prize_percentages,
    'Team Name': team_names,
    'Roster': rosters
}

In [17]:
champs_plc = pd.DataFrame(data)
champs_plc

,Placement,Prize,Prize (%),Team Name,Roster
0,1,"$ 800,000","$ 800,000",OpTic TEX,"Shotzzy, Dashy, Kenny, Pred, Karma, JP Krez"
1,2,"$ 480,000","$ 480,000",NY Subliners,"HyDra, KiSMET, Skyz, Sib, DREAL, Sender"
2,3,"$ 320,000","$ 320,000",TOR Ultra,"CleanX, Insight, Scrappy, Envoy, Flux, Joee"
3,4,"$ 160,000","$ 160,000",LA Thieves,"Ghosty, Kremp, JoeDeceives, Nastie, JKap, ShAnE"
4,5-6,"$ 80,000","$ 80,000",MIA Heretics,"Vikul, Lucky, MettalZ, ReeaL, MethodZ"
5,N/A,N/A,aBeZy • Cellium • Simp • Drazah • Crowder • RJ,ATL FaZe,"aBeZy, Cellium, Simp, Drazah, Crowder, RJ"
6,7-8,"$ 40,000","$ 40,000",SEA Surge,"Abuzah, Huke, Breszy, 04, Rambo"
7,N/A,N/A,Diamondcon • Fame • Estreal • Flames • Veohz ...,LA Guerrillas,"Diamondcon, Fame, Estreal, Flames, Veohz, Arian"

In [18]:
# Update values based on team names
champs_plc.loc[champs_plc['Team Name'] == 'OpTic TEX', ['Prize (%)']] = ['40.00%']
champs_plc.loc[champs_plc['Team Name'] == 'NY Subliners', ['Prize (%)']] = ['24.00%']
champs_plc.loc[champs_plc['Team Name'] == 'TOR Ultra', ['Prize (%)']] = ['16.00%']
champs_plc.loc[champs_plc['Team Name'] == 'LA Thieves', ['Prize (%)']] = ['8.00%']
champs_plc.loc[champs_plc['Team Name'] == 'MIA Heretics', ['Prize (%)']] = ['4.00%']
champs_plc.loc[champs_plc['Team Name'] == 'ATL FaZe', ['Placement', 'Prize', 'Prize (%)']] = ['5-6', '$ 80,000', '4.00%']
champs_plc.loc[champs_plc['Team Name'] == 'SEA Surge', ['Prize (%)']] = ['2.00%']
champs_plc.loc[champs_plc['Team Name'] == 'LA Guerrillas', ['Placement', 'Prize','Prize (%)']] = ['7-8', '$ 40,000', '2.00%']

In [19]:
new_team_names = [
   'OpTic Texas','New York Subliners','Toronto Ultra','Los Angeles Thieves',
    'Miami Heretics','Atlanta FaZe',
    'Seattle Surge','Los Angeles Guerrillas'  
]

champs_plc['Team Name'] = new_team_names
champs_plc

,Placement,Prize,Prize (%),Team Name,Roster
0,1,"$ 800,000",40.00%,OpTic Texas,"Shotzzy, Dashy, Kenny, Pred, Karma, JP Krez"
1,2,"$ 480,000",24.00%,New York Subliners,"HyDra, KiSMET, Skyz, Sib, DREAL, Sender"
2,3,"$ 320,000",16.00%,Toronto Ultra,"CleanX, Insight, Scrappy, Envoy, Flux, Joee"
3,4,"$ 160,000",8.00%,Los Angeles Thieves,"Ghosty, Kremp, JoeDeceives, Nastie, JKap, ShAnE"
4,5-6,"$ 80,000",4.00%,Miami Heretics,"Vikul, Lucky, MettalZ, ReeaL, MethodZ"
5,5-6,"$ 80,000",4.00%,Atlanta FaZe,"aBeZy, Cellium, Simp, Drazah, Crowder, RJ"
6,7-8,"$ 40,000",2.00%,Seattle Surge,"Abuzah, Huke, Breszy, 04, Rambo"
7,7-8,"$ 40,000",2.00%,Los Angeles Guerrillas,"Diamondcon, Fame, Estreal, Flames, Veohz, Arian"

In [ ]:
#chamsp roster and placing are done 
#now need bracket
#map series wins
champs_b = s_object.find('table',class_='wikitable md-table')
champs_b

In [21]:
#define the search classes 
search_classes = [
    'mdv-allweeks mdv-week1',
    'mdv-allweeks mdv-week2',
    'mdv-allweeks mdv-week3'  
]

In [22]:
teams = []
scores = []
series_count = {}

# Loop through the search classes to extract data for each week
for search_class in search_classes:
    rows = champs_b.find_all('tr', class_=search_class + ' toggle-section-hidden')
    
    # Loop through each row to extract team names and scores
    for row in rows:
        # Extract the team names
        team1 = row.find_all('span', class_='teamname')[0].text.strip()
        team2 = row.find_all('span', class_='teamname')[1].text.strip()
        
        # Extract the score
        score = row.find_all('td')[2].text.strip()  # The score is in the 3rd column (index 2)
        
        teams.append((team1, team2))
        scores.append(score)
        
        # Update series count
        score_values = list(map(int, score.split(' - ')))
        if score_values[0] > score_values[1]:
            winning_team = team1
            losing_team = team2
        else:
            winning_team = team2
            losing_team = team1
        
        # Increment series count
        if winning_team not in series_count:
            series_count[winning_team] = 0
        series_count[winning_team] += 1

In [23]:
# Combine the extracted data into a DataFrame
champs_bk = pd.DataFrame({
    'Team 1': [team[0] for team in teams],
    'Team 2': [team[1] for team in teams],
    'Score': scores,
    'Series Count': [series_count.get(team, 0) for team in [team[0] for team in teams]]
})
champs_bk

   Team 1 Team 2  Score  Series Count
0      NY    SEA  3 - 2             3
1     ATL    MIA  3 - 1             1
2     TOR    LAT  1 - 3             3
3     TEX    LAG  3 - 0             4
4     LAT    TEX  2 - 3             2
5     ATL     NY  2 - 3             1
6      NY    TEX  2 - 3             3
7     MIA    SEA  3 - 2             1
8     TOR    LAG  3 - 0             3
9     ATL    TOR  0 - 3             1
10    LAT    MIA  3 - 0             2
11    LAT    TOR  2 - 3             2
12     NY    TOR  3 - 2             3
13    TEX     NY  5 - 1             4

In [24]:
# Initialize a dictionary to hold aggregated results
team_stats = {}

In [25]:
# Process each row in the DataFrame
for index, row in champs_bk.iterrows():
    team1, team2 = row['Team 1'], row['Team 2']
    score = row['Score']
    series_count = 1  # Each row represents one series

    team1_maps, team2_maps = map(int, score.split(' - '))
    
    # Initialize teams in the dictionary if they don't exist
    if team1 not in team_stats:
        team_stats[team1] = {'Map Count': [0, 0], 'Series Count': [0, 0]}
    if team2 not in team_stats:
        team_stats[team2] = {'Map Count': [0, 0], 'Series Count': [0, 0]}
    
    # Update map counts
    team_stats[team1]['Map Count'][0] += team1_maps
    team_stats[team1]['Map Count'][1] += team2_maps
    team_stats[team2]['Map Count'][0] += team2_maps
    team_stats[team2]['Map Count'][1] += team1_maps
    
    # Update series counts
    if team1_maps > team2_maps:
        team_stats[team1]['Series Count'][0] += 1  # Wins
        team_stats[team2]['Series Count'][1] += 1  # Losses
    else:
        team_stats[team1]['Series Count'][1] += 1  # Losses
        team_stats[team2]['Series Count'][0] += 1  # Wins

In [26]:
# Convert the dictionary to a DataFrame
champs_bk_df = pd.DataFrame({
    'Team Name': team_stats.keys(),
    'Map Count': [f"{v['Map Count'][0]} - {v['Map Count'][1]}" for v in team_stats.values()],
    'Series Count': [f"{v['Series Count'][0]} - {v['Series Count'][1]}" for v in team_stats.values()]
})

# Display the resulting DataFrame
champs_bk_df

  Team Name Map Count Series Count
0        NY   12 - 14        3 - 2
1       SEA     4 - 6        0 - 2
2       ATL     5 - 7        1 - 2
3       MIA     4 - 8        1 - 2
4       TOR    12 - 8        3 - 2
5       LAT    10 - 7        2 - 2
6       TEX    14 - 5        4 - 0
7       LAG     0 - 6        0 - 2

In [27]:
new_team_names = [
   'New York Subliners',  'Seattle Surge','Atlanta FaZe','Miami Heretics','Toronto Ultra', 
    'Los Angeles Thieves','OpTic Texas',
   'Los Angeles Guerrillas'  
]

champs_bk_df['Team Name'] = new_team_names
champs_bk_df

                Team Name Map Count Series Count
0      New York Subliners   12 - 14        3 - 2
1           Seattle Surge     4 - 6        0 - 2
2            Atlanta FaZe     5 - 7        1 - 2
3          Miami Heretics     4 - 8        1 - 2
4           Toronto Ultra    12 - 8        3 - 2
5     Los Angeles Thieves    10 - 7        2 - 2
6             OpTic Texas    14 - 5        4 - 0
7  Los Angeles Guerrillas     0 - 6        0 - 2

In [28]:
#now merging dataframes 
combined_champsdf = pd.merge(champs_plc, champs_bk_df, on='Team Name')
combined_champsdf

,Placement,Prize,Prize (%),Team Name,Roster,Map Count,Series Count
0,1,"$ 800,000",40.00%,OpTic Texas,"Shotzzy, Dashy, Kenny, Pred, Karma, JP Krez",14 - 5,4 - 0
1,2,"$ 480,000",24.00%,New York Subliners,"HyDra, KiSMET, Skyz, Sib, DREAL, Sender",12 - 14,3 - 2
2,3,"$ 320,000",16.00%,Toronto Ultra,"CleanX, Insight, Scrappy, Envoy, Flux, Joee",12 - 8,3 - 2
3,4,"$ 160,000",8.00%,Los Angeles Thieves,"Ghosty, Kremp, JoeDeceives, Nastie, JKap, ShAnE",10 - 7,2 - 2
4,5-6,"$ 80,000",4.00%,Miami Heretics,"Vikul, Lucky, MettalZ, ReeaL, MethodZ",4 - 8,1 - 2
5,5-6,"$ 80,000",4.00%,Atlanta FaZe,"aBeZy, Cellium, Simp, Drazah, Crowder, RJ",5 - 7,1 - 2
6,7-8,"$ 40,000",2.00%,Seattle Surge,"Abuzah, Huke, Breszy, 04, Rambo",4 - 6,0 - 2
7,7-8,"$ 40,000",2.00%,Los Angeles Guerrillas,"Diamondcon, Fame, Estreal, Flames, Veohz, Arian",0 - 6,0 - 2

Now creating one final dataframe

- combining both dataframes
- the pt distibution throguhout the entire season with the champs info

In [29]:
# Merge the DataFrames on 'Team Name'
f_df = pd.merge(pointt_dist, combined_champsdf, on='Team Name', how='left')
f_df

,Team Name,Season Place,Online/Qualifiers 1,LAN/Major 1,Online/Qualifiers 2,LAN/Major 2,Online/Qualifiers 3,LAN/Major 3,Online/Qualifiers 4,LAN/Major 4,...,5th - 6th Place,7th - 8th Place,9th - 10th Place,11th - 12th Place,Placement,Prize,Prize (%),Roster,Map Count,Series Count
0,Atlanta FaZe,1,70,75,50,100,70,60,60,75,...,0,0,0,0,5-6,"$ 80,000",4.00%,"aBeZy, Cellium, Simp, Drazah, Crowder, RJ",5 - 7,1 - 2
1,Toronto Ultra,2,60,100,50,45,60,75,60,45,...,0,0,0,0,3,"$ 320,000",16.00%,"CleanX, Insight, Scrappy, Envoy, Flux, Joee",12 - 8,3 - 2
2,OpTic Texas,3,40,60,70,75,60,100,10,0,...,0,0,1,1,1,"$ 800,000",40.00%,"Shotzzy, Dashy, Kenny, Pred, Karma, JP Krez",14 - 5,4 - 0
3,New York Subliners,4,60,0,60,60,30,45,40,100,...,0,0,1,1,2,"$ 480,000",24.00%,"HyDra, KiSMET, Skyz, Sib, DREAL, Sender",12 - 14,3 - 2
4,Seattle Surge,5,30,30,10,0,30,30,40,30,...,3,0,1,1,7-8,"$ 40,000",2.00%,"Abuzah, Huke, Breszy, 04, Rambo",4 - 6,0 - 2
5,Los Angeles Guerrillas,6,20,30,10,30,20,0,30,60,...,2,0,1,1,7-8,"$ 40,000",2.00%,"Diamondcon, Fame, Estreal, Flames, Veohz, Arian",0 - 6,0 - 2
6,Los Angeles Thieves,7,20,0,40,0,50,15,40,30,...,1,1,2,2,4,"$ 160,000",8.00%,"Ghosty, Kremp, JoeDeceives, Nastie, JKap, ShAnE",10 - 7,2 - 2
7,Miami Heretics,8,50,0,20,0,30,30,40,15,...,1,1,2,2,5-6,"$ 80,000",4.00%,"Vikul, Lucky, MettalZ, ReeaL, MethodZ",4 - 8,1 - 2
8,Las Vegas Legion,9,10,15,50,15,20,0,40,15,...,0,3,1,1,NaN,NaN,NaN,NaN,NaN,NaN
9,Carolina Royal Ravens,10,10,15,20,30,30,15,30,0,...,1,2,1,1,NaN,NaN,NaN,NaN,NaN,NaN
10,Minnesota RØKKR,11,30,45,10,15,20,0,20,0,...,0,1,2,2,NaN,NaN,NaN,NaN,NaN,NaN
11,Boston Breach,12,20,0,30,0,0,0,10,0,...,0,0,4,4,NaN,NaN,NaN,NaN,NaN,NaN

Now need to work on all the map count and series counts throughout Qualifiers and Major

- online results
- major lan results
- than merge both of them
- need to loop through them to make it easier

In [30]:
# Base URL
base_url = "https://cod-esports.fandom.com/wiki/Call_of_Duty_League/2024_Season/Major_{}/Qualifiers"

# List to store all data
all_team_data = []

# Set to keep track of team names
seen_team_names = set()

In [31]:
# Function to parse and sum counts
def parse_and_sum(count_string):
    counts = count_string.split(' - ')
    return int(counts[0]), int(counts[1])

In [32]:
def combine_counts(original_count, new_count):
    orig_wins, orig_losses = parse_and_sum(original_count)
    new_wins, new_losses = parse_and_sum(new_count)
    total_wins = orig_wins + new_wins
    total_losses = orig_losses + new_losses
    return f"{total_wins} - {total_losses}"

In [33]:
# Loop through each stage
for stage in range(1, 5):
    url = base_url.format(stage)
    response = requests.get(url)
    page_soup = soup(response.content, 'html.parser')
    
    # List of search parameters
    search_classes = [
        'standings-up teamhighlight teamhighlighter',
        'standings-stay teamhighlight teamhighlighter'
    ]
    
    # Loop through each search class to find all teams
    for class_name in search_classes:
        target_elements = page_soup.find_all('tr', class_=class_name)
        
        for results in target_elements:
            try:
                team_name = results.find('span', class_='teamname').text.strip()
            except:
                team_name = 'n/a'
            
            try:
                series_count = results.find_all('td')[2].text.strip()
            except:
                series_count = 'n/a'
            
            try:
                map_count = results.find_all('td')[4].text.strip()
            except:
                map_count = 'n/a'
            
            if team_name != 'n/a':
                if stage == 1:
                    # Add team names and their data during the first stage
                    seen_team_names.add(team_name)
                    all_team_data.append([team_name, series_count, map_count])
                else:
                    if team_name in seen_team_names:
                        # Update series and map counts for existing teams
                        for team_data in all_team_data:
                            if team_data[0] == team_name:
                                team_data[1] = combine_counts(team_data[1], series_count)
                                team_data[2] = combine_counts(team_data[2], map_count)
                                break

In [34]:
#Convert the list to a DataFrame
team_data_df = pd.DataFrame(all_team_data, columns=['Team Name', '(Stages/Online - Series Count)', '(Stages/Online - Map Count)'])

In [35]:
# Function to parse and sum counts from a series of count strings
def parse_and_sum_counts(count_series):
    total_wins = total_losses = 0
    for count in count_series:
        wins, losses = parse_and_sum(count)
        total_wins += wins
        total_losses += losses
    return total_wins, total_losses

In [36]:
# Group by team name and aggregate the counts
stages_df = team_data_df.groupby('Team Name').agg({
    '(Stages/Online - Series Count)': lambda x: f"{parse_and_sum_counts(x)[0]} - {parse_and_sum_counts(x)[1]}",
    '(Stages/Online - Map Count)': lambda x: f"{parse_and_sum_counts(x)[0]} - {parse_and_sum_counts(x)[1]}"
}).reset_index()

stages_df

,Team Name,(Stages/Online - Series Count),(Stages/Online - Map Count)
0,Atlanta FaZe,25 - 3,81 - 25
1,Boston Breach,6 - 22,40 - 72
2,Carolina Royal Ravens,9 - 19,49 - 69
3,Las Vegas Legion,12 - 16,47 - 60
4,Los Angeles Guerrillas,8 - 20,35 - 67
5,Los Angeles Thieves,15 - 13,56 - 60
6,Miami Heretics,14 - 14,56 - 53
7,Minnesota RØKKR,8 - 20,43 - 71
8,New York Subliners,19 - 9,68 - 47
9,OpTic Texas,18 - 10,67 - 49
10,Seattle Surge,11 - 17,49 - 61
11,Toronto Ultra,23 - 5,73 - 30

In [37]:
#Split 'Series Count' and 'Map Count' to get win and loss counts
series_win_loss_stages = stages_df['(Stages/Online - Series Count)'].str.split(' - ', expand=True).astype(int)
map_win_loss_stages = stages_df['(Stages/Online - Map Count)'].str.split(' - ', expand=True).astype(int)

In [38]:
# Calculate win percentages and round them
stages_df['(Stages/Online - Series Win Percentage)'] = (series_win_loss_stages[0] / (series_win_loss_stages[0] + series_win_loss_stages[1]) * 100).round(0)
stages_df['(Stages/Online - Map Win Percentage)'] = (map_win_loss_stages[0] / (map_win_loss_stages[0] + map_win_loss_stages[1]) * 100).round(0)

In [39]:
# Insert new columns next to existing ones
stages_df.insert(stages_df.columns.get_loc('(Stages/Online - Series Count)') + 1, '(Stages/Online - Series Win Percentage)', stages_df.pop('(Stages/Online - Series Win Percentage)'))
stages_df.insert(stages_df.columns.get_loc('(Stages/Online - Map Count)') + 1, '(Stages/Online - Map Win Percentage)', stages_df.pop('(Stages/Online - Map Win Percentage)'))
stages_df
#online qualifiers dones

,Team Name,(Stages/Online - Series Count),(Stages/Online - Series Win Percentage),(Stages/Online - Map Count),(Stages/Online - Map Win Percentage)
0,Atlanta FaZe,25 - 3,89.0,81 - 25,76.0
1,Boston Breach,6 - 22,21.0,40 - 72,36.0
2,Carolina Royal Ravens,9 - 19,32.0,49 - 69,42.0
3,Las Vegas Legion,12 - 16,43.0,47 - 60,44.0
4,Los Angeles Guerrillas,8 - 20,29.0,35 - 67,34.0
5,Los Angeles Thieves,15 - 13,54.0,56 - 60,48.0
6,Miami Heretics,14 - 14,50.0,56 - 53,51.0
7,Minnesota RØKKR,8 - 20,29.0,43 - 71,38.0
8,New York Subliners,19 - 9,68.0,68 - 47,59.0
9,OpTic Texas,18 - 10,64.0,67 - 49,58.0
10,Seattle Surge,11 - 17,39.0,49 - 61,45.0
11,Toronto Ultra,23 - 5,82.0,73 - 30,71.0

Now getting info on majors

- need team names
- major/lan - series counts
- major/lan - map counts
- major/lan - series win percentage
- major/lan - map win percentage

In [40]:
# Define the URL template and search classes
url_template = "https://cod-esports.fandom.com/wiki/Call_of_Duty_League/2024_Season/Major_{}"
search_classes = [

    'mdv-allweeks mdv-week1',
    'mdv-allweeks mdv-week2',
    'mdv-allweeks mdv-week3'
]

In [41]:
# Initialize lists to hold the results
teams = []
scores = []
series_count = {}

# Loop through each Major (1 through 4)
for major_number in range(1, 5):
    url = url_template.format(major_number)
    response = requests.get(url)
    s_object = soup(response.text, 'html.parser')
    
    # Loop through the search classes to extract data for each week
    for search_class in search_classes:
        rows = s_object.find_all('tr', class_=search_class + ' toggle-section-hidden')
        
        # Loop through each row to extract team names and scores
        for row in rows:
            # Extract the team names
            team1 = row.find_all('span', class_='teamname')[0].text.strip()
            team2 = row.find_all('span', class_='teamname')[1].text.strip()
            
            # Extract the score
            score = row.find_all('td')[2].text.strip()  # The score is in the 3rd column (index 2)
            
            teams.append((team1, team2))
            scores.append(score)
            
            # Update series count
            score_values = list(map(int, score.split(' - ')))
            if score_values[0] > score_values[1]:
                winning_team = team1
                losing_team = team2
            else:
                winning_team = team2
                losing_team = team1
            
            # Increment series count
            if winning_team not in series_count:
                series_count[winning_team] = 0
            series_count[winning_team] += 1

In [42]:
# Combine the extracted data into a DataFrame
majors_bk = pd.DataFrame({
    'Team 1': [team[0] for team in teams],
    'Team 2': [team[1] for team in teams],
    'Score': scores,
    'Series Count': [series_count.get(team, 0) for team in [team[0] for team in teams]]
})
majors_bk

   Team 1 Team 2  Score  Series Count
0     ATL    LAG  3 - 0            12
1      NY    MIN  0 - 3            11
2     TOR    SEA  3 - 0            12
3     MIA    TEX  0 - 3             3
4     ATL    TEX  3 - 2            12
..    ...    ...    ...           ...
67    SEA    TOR  2 - 3             5
68    LAT     NY  1 - 3             2
69    TOR     NY  0 - 3            12
70    LAG     NY  0 - 3             6
71    ATL     NY  2 - 4            12

[72 rows x 4 columns]

In [43]:
# Create lists to hold the new data
team_names = []
map_counts = []
series_counts = []

In [44]:
# Loop through each row in the majors_bk dataframe
for index, row in majors_bk.iterrows():
    team1 = row['Team 1']
    team2 = row['Team 2']
    score = row['Score']
    series_count = row['Series Count']
    
    # Split the score into individual map counts
    team1_maps, team2_maps = map(int, score.split(' - '))
    
    # Determine the series counts
    if team1_maps > team2_maps:
        team1_series = "1 - 0"
        team2_series = "0 - 1"
    else:
        team1_series = "0 - 1"
        team2_series = "1 - 0"
    
    # Append data for team 1
    team_names.append(team1)
    map_counts.append(f"{team1_maps} - {team2_maps}")
    series_counts.append(team1_series)
    
    # Append data for team 2
    team_names.append(team2)
    map_counts.append(f"{team2_maps} - {team1_maps}")
    series_counts.append(team2_series)

In [45]:
# Create the new dataframe
transformed_df = pd.DataFrame({
    'Team Name': team_names,
    'Map Count': map_counts,
    'Series Count': series_counts
})

# Display the transformed dataframe
transformed_df

    Team Name Map Count Series Count
0         ATL     3 - 0        1 - 0
1         LAG     0 - 3        0 - 1
2          NY     0 - 3        0 - 1
3         MIN     3 - 0        1 - 0
4         TOR     3 - 0        1 - 0
..        ...       ...          ...
139        NY     3 - 0        1 - 0
140       LAG     0 - 3        0 - 1
141        NY     3 - 0        1 - 0
142       ATL     2 - 4        0 - 1
143        NY     4 - 2        1 - 0

[144 rows x 3 columns]

In [46]:
# Split the Map Count and Series Count into separate columns
transformed_df[['Map Wins', 'Map Losses']] = transformed_df['Map Count'].str.split(' - ', expand=True).astype(int)
transformed_df[['Series Wins', 'Series Losses']] = transformed_df['Series Count'].str.split(' - ', expand=True).astype(int)

In [47]:
# Group by Team Name and sum the wins and losses
aggregated_df = transformed_df.groupby('Team Name').sum()

In [48]:
# Combine the summed wins and losses back into the original formats
aggregated_df['Map Count'] = aggregated_df['Map Wins'].astype(str) + ' - ' + aggregated_df['Map Losses'].astype(str)
aggregated_df['Series Count'] = aggregated_df['Series Wins'].astype(str) + ' - ' + aggregated_df['Series Losses'].astype(str)

# Select the necessary columns
aggregated_df = aggregated_df[['Map Count', 'Series Count']].reset_index()

In [49]:
aggregated_df

   Team Name Map Count Series Count
0        ATL   45 - 27       12 - 5
1        BOS    7 - 15        0 - 5
2        CAR   16 - 19        4 - 5
3        LAG   22 - 24        6 - 6
4        LAT   13 - 24        2 - 7
5        LVL   18 - 19        3 - 6
6        MIA   13 - 29        3 - 8
7        MIN   13 - 19        3 - 5
8         NY   40 - 29       11 - 7
9        SEA   21 - 29        5 - 7
10       TEX   42 - 29       11 - 6
11       TOR   39 - 26       12 - 5

In [50]:
# Split 'Map Count' into separate columns for wins and losses
aggregated_df[['Map Wins', 'Map Losses']] = aggregated_df['Map Count'].str.split(' - ', expand=True).astype(int)

# Calculate the 'LAN/Major - Map Win Percentage'
aggregated_df['LAN/Major - Map Win Percentage'] = (aggregated_df['Map Wins'] / (aggregated_df['Map Wins'] + aggregated_df['Map Losses'])) * 100

In [51]:
# Split 'Series Count' into separate columns for wins and losses
aggregated_df[['Series Wins', 'Series Losses']] = aggregated_df['Series Count'].str.split(' - ', expand=True).astype(int)

# Calculate the 'LAN/Major - Series Win Percentage'
aggregated_df['LAN/Major - Series Win Percentage'] = (aggregated_df['Series Wins'] / (aggregated_df['Series Wins'] + aggregated_df['Series Losses'])) * 100

In [52]:
# Rename the 'Map Count' and 'Series Count' columns
aggregated_df.rename(columns={
    'Map Count': 'LAN/Major - Map Count',
    'Series Count': 'LAN/Major - Series Count'
}, inplace=True)

In [53]:
# Drop the intermediate columns used for calculation
aggregated_df.drop(columns=['Map Wins', 'Map Losses', 'Series Wins', 'Series Losses'], inplace=True)

In [54]:
# Reorder the columns to place the new columns next to their corresponding counts
aggregated_df = aggregated_df[[
    'Team Name', 
    'LAN/Major - Map Count', 
    'LAN/Major - Map Win Percentage',
    'LAN/Major - Series Count',
    'LAN/Major - Series Win Percentage'
]]

In [55]:
# New team names
new_team_names = [
    'Atlanta FaZe','Boston Breach','Carolina Royal Ravens','Los Angeles Guerrillas',
    'Los Angeles Thieves','Las Vegas Legion','Miami Heretics','Minnesota RØKKR',
    'New York Subliners', 'Seattle Surge', 'Toronto Ultra','OpTic Texas', 
    
]

aggregated_df['Team Name'] = new_team_names
aggregated_df

,Team Name,LAN/Major - Map Count,LAN/Major - Map Win Percentage,LAN/Major - Series Count,LAN/Major - Series Win Percentage
0,Atlanta FaZe,45 - 27,62.500000,12 - 5,70.588235
1,Boston Breach,7 - 15,31.818182,0 - 5,0.000000
2,Carolina Royal Ravens,16 - 19,45.714286,4 - 5,44.444444
3,Los Angeles Guerrillas,22 - 24,47.826087,6 - 6,50.000000
4,Los Angeles Thieves,13 - 24,35.135135,2 - 7,22.222222
5,Las Vegas Legion,18 - 19,48.648649,3 - 6,33.333333
6,Miami Heretics,13 - 29,30.952381,3 - 8,27.272727
7,Minnesota RØKKR,13 - 19,40.625000,3 - 5,37.500000
8,New York Subliners,40 - 29,57.971014,11 - 7,61.111111
9,Seattle Surge,21 - 29,42.000000,5 - 7,41.666667
10,Toronto Ultra,42 - 29,59.154930,11 - 6,64.705882
11,OpTic Texas,39 - 26,60.000000,12 - 5,70.588235

In [56]:
# Merge the DataFrames on 'Team Name'
combined_df = pd.merge(stages_df, aggregated_df, on='Team Name')

In [57]:
combined_df

,Team Name,(Stages/Online - Series Count),(Stages/Online - Series Win Percentage),(Stages/Online - Map Count),(Stages/Online - Map Win Percentage),LAN/Major - Map Count,LAN/Major - Map Win Percentage,LAN/Major - Series Count,LAN/Major - Series Win Percentage
0,Atlanta FaZe,25 - 3,89.0,81 - 25,76.0,45 - 27,62.500000,12 - 5,70.588235
1,Boston Breach,6 - 22,21.0,40 - 72,36.0,7 - 15,31.818182,0 - 5,0.000000
2,Carolina Royal Ravens,9 - 19,32.0,49 - 69,42.0,16 - 19,45.714286,4 - 5,44.444444
3,Las Vegas Legion,12 - 16,43.0,47 - 60,44.0,18 - 19,48.648649,3 - 6,33.333333
4,Los Angeles Guerrillas,8 - 20,29.0,35 - 67,34.0,22 - 24,47.826087,6 - 6,50.000000
5,Los Angeles Thieves,15 - 13,54.0,56 - 60,48.0,13 - 24,35.135135,2 - 7,22.222222
6,Miami Heretics,14 - 14,50.0,56 - 53,51.0,13 - 29,30.952381,3 - 8,27.272727
7,Minnesota RØKKR,8 - 20,29.0,43 - 71,38.0,13 - 19,40.625000,3 - 5,37.500000
8,New York Subliners,19 - 9,68.0,68 - 47,59.0,40 - 29,57.971014,11 - 7,61.111111
9,OpTic Texas,18 - 10,64.0,67 - 49,58.0,39 - 26,60.000000,12 - 5,70.588235
10,Seattle Surge,11 - 17,39.0,49 - 61,45.0,21 - 29,42.000000,5 - 7,41.666667
11,Toronto Ultra,23 - 5,82.0,73 - 30,71.0,42 - 29,59.154930,11 - 6,64.705882

In [58]:
final_combined_df = pd.merge(combined_df, f_df, on='Team Name')

In [59]:
# Export the combined DataFrame to an Excel file
final_combined_df.to_excel("Data - cdl_season_2024.xlsx", index=False)